<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.35" targetFramework="net47" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net47" />
  <package id="FluentFTP" version="32.4.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Diagnostics" version="4.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.FileSystems" version="4.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="4.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.SelfHost" version="4.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.StaticFiles" version="4.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net47" />
  <package id="Unity" version="5.11.7" targetFramework="net47" />
  <package id="Unity.WebAPI" version="5.4.0" targetFramework="net47" />
</packages>